<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Link to an external CSS stylesheet named 'Styling.css' located in the 'static' folder -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styling.css') }}">
</head>
<body>
    <!-- Create a form element that submits data to the "/p1logic" route using the POST method -->
    <form action="/p1logic" method="POST">
        <!-- Display a heading "Player 1" to indicate the current player -->
        <h1>Player 1</h1>
        
        <!-- Label for the input field -->
        <label for="guess">Guess the {{ num }} digit number entered by player 2: </label>
        
        <!-- Input field for entering a guess with the name "guess" -->
        <input type="text" name="guess"/>
        
        <!-- Container for the form submission button -->
        <div class="button-container">
            <!-- Submit button to send the form data -->
            <input type="submit" value="Submit">
        </div>
        
        <!-- Container for displaying the result and EndRes messages -->
        <div class="result">
            <!-- Check if 'result' variable is defined and display it within a paragraph -->
            {% if result %}
                <p>{{ result }}</p>
            {% endif %}
            
            <!-- Check if 'EndRes' variable is defined and display it within a paragraph -->
            {% if EndRes %}
                <p>{{ EndRes }}</p>
            {% endif %}
        </div>
    </form>
</body>
</html>
